{{template "header" .}}

<div class="room">
    <h1 class="createroom"><a href="/user">User List</a></h1>
    {{ if .Alert }}
    <p class="alert">{{ .Alert }}</p>
    {{end}}
    <ul>
        <table>
            <tr class="heading">
                <th>ルーム名</th>
                <th>日付</th>
                <th>人数</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {{if .Room}}
            {{ range .Room }}
            <tr>
                <td class="name">{{ .Name }}</td>
                <td>{{ .Date }}</td>
                <td>{{ .UserNum }}</td>
                <td><button class="join" onclick="location.href='/chat/{{ .Name }}'">join</button></td>
                <td><button class="join" onclick="location.href='/csv/{{ .Name }}'">csv</button></td>
                <td><button class="join" onclick="location.href='/delete/{{ .Name }}'">del</button></td>
            </tr>
            {{ end }}
            {{ end }}
        </table>
    </ul>
</div>
{{template "footer"}}